In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import math

In [19]:
df_enroll = pd.read_csv('/Users/macbookpro/Desktop/POC1/data/raw/100_enr1.csv')
df_enroll.head()

,pseudocode,item_group,item_id,cpp_b,cpp_g,c1_b,c1_g,c2_b,c2_g,c3_b,...,c8_b,c8_g,c9_b,c9_g,c10_b,c10_g,c11_b,c11_g,c12_b,c12_g
0,1000002,1,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1000002,1,3,0,0,7,7,6,3,8,...,0,0,0,0,0,0,0,0,0,0
2,1000002,1,4,0,0,3,2,1,3,1,...,0,0,0,0,0,0,0,0,0,0
3,1000002,3,13,0,0,10,9,7,5,10,...,0,0,0,0,0,0,0,0,0,0
4,1000019,1,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_fac = pd.read_csv('/Users/macbookpro/Desktop/POC1/data/raw/100_fac.csv')
df_fac.head()

,pseudocode,building_status,no_building_blocks,pucca_building_blocks,boundary_wall,total_class_rooms,other_rooms,classrooms_in_good_condition,classrooms_needs_minor_repair,classrooms_needs_major_repair,...,desktop,digiboard,teachdev_tot,server_tot,smart_class_tv_tot,projector,printer,internet,dth,spl_educator_yn
0,1341742,1,15,15,3,13,7,13,0,0,...,5,0,1,0,1,1,1,1,2,1
1,4508465,1,1,1,1,3,6,3,0,0,...,1,0,0,0,0,0,0,1,2,3
2,1884303,3,1,1,1,2,1,0,2,0,...,0,0,0,0,0,0,0,2,2,3
3,2601515,3,4,2,5,5,2,5,0,0,...,0,0,0,0,0,0,0,1,2,3
4,7173432,3,2,2,1,4,2,0,4,0,...,0,0,0,0,0,0,0,2,2,2

In [21]:

df_tch = pd.read_csv('/Users/macbookpro/Desktop/POC1/data/raw/100_tch.csv')
df_tch.head()

,pseudocode,total_tch,male,female,transgender,gen_tch,sc_tch,st_tch,obc_tch,regular,...,bed_equivalent,med_equivalent,other,none,diploma_special_edu,pursuing_rpc,diploma_ele_edu,early_childhood_tch,bed_nursery,trained_cwsn
0,1000002,3,2,1,0,0,0,1,2,3,...,2,0,0,0,0,0,0,0,0,0
1,1000019,2,0,2,0,0,0,0,2,2,...,2,0,0,0,0,0,0,0,0,1
2,1000021,1,0,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,1
3,1000028,3,0,3,0,2,0,0,1,3,...,0,0,0,0,0,0,3,0,0,0
4,1000029,15,3,12,0,1,5,1,8,14,...,4,3,1,0,0,1,0,0,0,0

In [22]:
df_tch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471891 entries, 0 to 1471890
Data columns (total 38 columns):
 #   Column                                   Non-Null Count    Dtype
---  ------                                   --------------    -----
 0   pseudocode                               1471891 non-null  int64
 1   total_tch                                1471891 non-null  int64
 2   male                                     1471891 non-null  int64
 3   female                                   1471891 non-null  int64
 4   transgender                              1471891 non-null  int64
 5   gen_tch                                  1471891 non-null  int64
 6   sc_tch                                   1471891 non-null  int64
 7   st_tch                                   1471891 non-null  int64
 8   obc_tch                                  1471891 non-null  int64
 9   regular                                  1471891 non-null  int64
 10  contract                                 1471891 non-null  int64
 11  part_time                                1471891 non-null  int64
 12  below_graduate                           1471891 non-null  int64
 13  graduate                                 1471891 non-null  int64
 14  post_graduate_and_above                  1471891 non-null  int64
 15  trained_comp                             1471891 non-null  int64
 16  class_taught_pr                          1471891 non-null  int64
 17  class_taught_upr                         1471891 non-null  int64
 18  class_taught_pr_upr                      1471891 non-null  int64
 19  class_taught_sec_only                    1471891 non-null  int64
 20  class_taught_hsec_only                   1471891 non-null  int64
 21  class_taught_upr_sec                     1471891 non-null  int64
 22  class_taught_sec_hsec                    1471891 non-null  int64
 23  class_taugt_pre_primary_only             1471891 non-null  int64
 24  class_taught_pr_and_pre_pri              1471891 non-null  int64
 25  teacher_involve_non_training_assignment  1471891 non-null  int64
 26  diploma_certificate                      1471891 non-null  int64
 27  bachelor_of_ee                           1471891 non-null  int64
 28  bed_equivalent                           1471891 non-null  int64
 29  med_equivalent                           1471891 non-null  int64
 30  other                                    1471891 non-null  int64
 31  none                                     1471891 non-null  int64
 32  diploma_special_edu                      1471891 non-null  int64
 33  pursuing_rpc                             1471891 non-null  int64
 34  diploma_ele_edu                          1471891 non-null  int64
 35  early_childhood_tch                      1471891 non-null  int64
 36  bed_nursery                              1471891 non-null  int64
 37  trained_cwsn                             1471891 non-null  int64
dtypes: int64(38)
memory usage: 426.7 MB

In [23]:
df_enroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234734 entries, 0 to 8234733
Data columns (total 29 columns):
 #   Column      Dtype
---  ------      -----
 0   pseudocode  int64
 1   item_group  int64
 2   item_id     int64
 3   cpp_b       int64
 4   cpp_g       int64
 5   c1_b        int64
 6   c1_g        int64
 7   c2_b        int64
 8   c2_g        int64
 9   c3_b        int64
 10  c3_g        int64
 11  c4_b        int64
 12  c4_g        int64
 13  c5_b        int64
 14  c5_g        int64
 15  c6_b        int64
 16  c6_g        int64
 17  c7_b        int64
 18  c7_g        int64
 19  c8_b        int64
 20  c8_g        int64
 21  c9_b        int64
 22  c9_g        int64
 23  c10_b       int64
 24  c10_g       int64
 25  c11_b       int64
 26  c11_g       int64
 27  c12_b       int64
 28  c12_g       int64
dtypes: int64(29)
memory usage: 1.8 GB

In [24]:
df_fac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471891 entries, 0 to 1471890
Data columns (total 70 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   pseudocode                     1471891 non-null  int64
 1   building_status                1471891 non-null  int64
 2   no_building_blocks             1471891 non-null  int64
 3   pucca_building_blocks          1471891 non-null  int64
 4   boundary_wall                  1471891 non-null  int64
 5   total_class_rooms              1471891 non-null  int64
 6   other_rooms                    1471891 non-null  int64
 7   classrooms_in_good_condition   1471891 non-null  int64
 8   classrooms_needs_minor_repair  1471891 non-null  int64
 9   classrooms_needs_major_repair  1471891 non-null  int64
 10  separate_room_for_hm           1471891 non-null  int64
 11  total_boys_toilet              1471891 non-null  int64
 12  total_boys_func_toilet         1471891 non-null  int64
 13  total_girls_toilet             1471891 non-null  int64
 14  total_girls_func_toilet        1471891 non-null  int64
 15  total_boys_cwsn_toilet         1471891 non-null  int64
 16  func_boys_cwsn_friendly        1471891 non-null  int64
 17  total_girls_cwsn_toilet        1471891 non-null  int64
 18  func_girls_cwsn_friendly       1471891 non-null  int64
 19  urinal_boys                    1471891 non-null  int64
 20  urinal_girls                   1471891 non-null  int64
 21  handwash_near_toilet           1471891 non-null  int64
 22  hand_pump_yn                   1471891 non-null  int64
 23  well_prot_yn                   1471891 non-null  int64
 24  tap_yn                         1471891 non-null  int64
 25  othsrc_yn                      1471891 non-null  int64
 26  well_unprot_yn                 1471891 non-null  int64
 27  pack_water_yn                  1471891 non-null  int64
 28  hand_pump_fun_yn               1471891 non-null  int64
 29  well_prot_fun_yn               1471891 non-null  int64
 30  tap_fun_yn                     1471891 non-null  int64
 31  othsrc_fun_yn                  1471891 non-null  int64
 32  well_unprot_fun_yn             1471891 non-null  int64
 33  pack_water_fun_yn              1471891 non-null  int64
 34  rain_water_harvesting          1471891 non-null  int64
 35  handwash_facility_for_meal     1471891 non-null  int64
 36  electricity_availability       1471891 non-null  int64
 37  solar_panel                    1471891 non-null  int64
 38  library_availability           1471891 non-null  int64
 39  book_bank                      1471891 non-null  int64
 40  reading_corner                 1471891 non-null  int64
 41  playground_available           1471891 non-null  int64
 42  playground_alt_yn              1471891 non-null  int64
 43  medical_checkups               1471891 non-null  int64
 44  availability_ramps             1471891 non-null  int64
 45  availability_of_handrails      1471891 non-null  int64
 46  furniture_availability         1471891 non-null  int64
 47  phy_lab_cond                   1471891 non-null  int64
 48  chem_lab_cond                  1471891 non-null  int64
 49  bio_lab_cond                   1471891 non-null  int64
 50  math_lab_cond                  1471891 non-null  int64
 51  lang_lab_cond                  1471891 non-null  int64
 52  geo_lab_cond                   1471891 non-null  int64
 53  home_sc_lab_cond               1471891 non-null  int64
 54  psycho_lab_cond                1471891 non-null  int64
 55  comp_lab_cond                  1471891 non-null  int64
 56  comp_ict_lab_yn                1471891 non-null  int64
 57  ict_lab_yn                     1471891 non-null  int64
 58  laptop                         1471891 non-null  int64
 59  tablet                         1471891 non-null  int64
 60  desktop                        1471891 non-null  int64
 61  digiboard                      1471891 non-null  int64
 62  teachdev_tot                   1471891 non-null  int64
 63  server_tot                     1471891 non-null  int64
 64  smart_class_tv_tot             1471891 non-null  int64
 65  projector                      1471891 non-null  int64
 66  printer                        1471891 non-null  int64
 67  internet                       1471891 non-null  int64
 68  dth                            1471891 non-null  int64
 69  spl_educator_yn                1471891 non-null  int64
dtypes: int64(70)
memory usage: 786.1 MB

In [25]:
df_profile = pd.read_csv('/Users/macbookpro/Desktop/POC1/data/raw/100_prof1.csv')
df_profile.head()

,pseudocode,state,district,block,rural_urban,lgd_urban_local_body_name,lgd_ward_name,lgd_vill_name,lgd_vill_panchayat_name,lgd_block_name,...,pre_primary,anganwadi_yn,avg_instr_days,cce_yn,same_sch_b,same_sch_g,other_sch_b,other_sch_g,anganwadi_ecce_b,anganwadi_ecce_g
0,6313415,HARYANA,PANIPAT,PANIPAT,2,Panipat-Municipal Corporations,Panipat (M Cl ) - Ward No.25,NaN,NaN,NaN,...,1,9,170,1,15,10,2,0,0,0
1,9511206,UTTAR PRADESH,KHERI,LAKHIMPUR,1,NaN,NaN,Tusaura,TUSAURA,LAKHIMPUR,...,2,2,246,1,0,0,0,0,4,11
2,8316226,BIHAR,PURNIA,JALALGARH,1,NaN,NaN,Dhanganwan Kankhudia,DANSAR,JALALGARH,...,2,2,220,1,0,0,0,0,9,11
3,1793728,KERALA,THRISSUR,PAZHAYANNUR,1,NaN,NaN,Kaniyarkode (CT),THIRUVILWAMALA,PAZHAYANNUR,...,1,2,197,1,5,6,0,0,0,0
4,2925597,CHHATTISGARH,SURGUJA,UDAIPUR,1,NaN,NaN,Khamhariya,KHAMHARIYA,UDAIPUR,...,2,9,235,1,4,5,1,0,0,0

In [26]:
df_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471891 entries, 0 to 1471890
Data columns (total 38 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   pseudocode                 1471891 non-null  int64
 1   state                      1471891 non-null  object
 2   district                   1471891 non-null  object
 3   block                      1471891 non-null  object
 4   rural_urban                1471891 non-null  int64
 5   lgd_urban_local_body_name  255812 non-null   object
 6   lgd_ward_name              255690 non-null   object
 7   lgd_vill_name              1193885 non-null  object
 8   lgd_vill_panchayat_name    1190305 non-null  object
 9   lgd_block_name             1185878 non-null  object
 10  school_category            1471891 non-null  int64
 11  school_type                1471891 non-null  int64
 12  lowclass                   1471891 non-null  int64
 13  highclass                  1471891 non-null  int64
 14  managment                  1471891 non-null  int64
 15  pincode                    1471891 non-null  int64
 16  special_school_for_cwsn    1471891 non-null  int64
 17  shift_school               1471891 non-null  int64
 18  resi_school                1471891 non-null  int64
 19  resi_type                  1471891 non-null  int64
 20  minority_school            1471891 non-null  int64
 21  medium_instr1              1471891 non-null  int64
 22  medium_of_instr2           1471891 non-null  int64
 23  medium_of_instr3           1471891 non-null  int64
 24  medium_of_instr4           1471891 non-null  int64
 25  aff_board_sec              1471891 non-null  int64
 26  aff_board_hsec             1471891 non-null  int64
 27  approachable_road          1471891 non-null  int64
 28  pre_primary                1471891 non-null  int64
 29  anganwadi_yn               1471891 non-null  int64
 30  avg_instr_days             1471891 non-null  int64
 31  cce_yn                     1471891 non-null  int64
 32  same_sch_b                 1471891 non-null  int64
 33  same_sch_g                 1471891 non-null  int64
 34  other_sch_b                1471891 non-null  int64
 35  other_sch_g                1471891 non-null  int64
 36  anganwadi_ecce_b           1471891 non-null  int64
 37  anganwadi_ecce_g           1471891 non-null  int64
dtypes: int64(30), object(8)
memory usage: 426.7+ MB

In [27]:

# Create a base school dataset with essential information
school_data = df_profile[['pseudocode', 'state', 'district', 'block', 'rural_urban', 
                          'school_category', 'school_type', 'lowclass', 'highclass', 
                          'managment', 'special_school_for_cwsn', 'approachable_road',
                          'avg_instr_days']].copy()

# Add teacher information
teacher_agg = df_tch.groupby('pseudocode').agg({
    'total_tch': 'first',
    'male': 'first',
    'female': 'first',
    'transgender': 'first',
    'gen_tch': 'first',
    'sc_tch': 'first',
    'st_tch': 'first',
    'obc_tch': 'first',
    'regular': 'first'
}).reset_index()

school_data = pd.merge(school_data, teacher_agg, on='pseudocode', how='left')

In [28]:

# Add facility information
facility_agg = df_fac.groupby('pseudocode').agg({
    'total_class_rooms': 'first',
    'total_boys_func_toilet': 'first', 
    'total_girls_func_toilet': 'first',
    'electricity_availability': 'first',
    'library_availability': 'first',
    'internet': 'first',
    'medical_checkups': 'first',
    'spl_educator_yn': 'first'
}).reset_index()

school_data = pd.merge(school_data, facility_agg, on='pseudocode', how='left')

In [29]:


# Add enrollment information
# First, identify the columns for each grade and gender
boy_cols = [col for col in df_enroll.columns if col.endswith('_b') and col.startswith('c')]
girl_cols = [col for col in df_enroll.columns if col.endswith('_g') and col.startswith('c')]

# Calculate total enrollments
df_enroll['total_boys'] = df_enroll[boy_cols].sum(axis=1)
df_enroll['total_girls'] = df_enroll[girl_cols].sum(axis=1)
df_enroll['total_enrollment'] = df_enroll['total_boys'] + df_enroll['total_girls']

# For grades 1-12, create separate enrollment counts


for grade in range(1, 13):
    df_enroll[f'grade_{grade}_boys'] = df_enroll[f'c{grade}_b']
    df_enroll[f'grade_{grade}_girls'] = df_enroll[f'c{grade}_g']
    df_enroll[f'grade_{grade}_total'] = df_enroll[f'c{grade}_b'] + df_enroll[f'c{grade}_g']

# Aggregate enrollment data
enroll_agg = df_enroll.groupby('pseudocode').agg({
    'total_boys': 'sum',
    'total_girls': 'sum',
    'total_enrollment': 'sum',
    **{f'grade_{i}_total': 'sum' for i in range(1, 13)}
}).reset_index()

school_data = pd.merge(school_data, enroll_agg, on='pseudocode', how='left')

# Calculate derived metrics
school_data['student_teacher_ratio'] = school_data['total_enrollment'] / school_data['total_tch']
school_data['girl_ratio'] = school_data['total_girls'] / school_data['total_enrollment']
school_data['female_teacher_ratio'] = school_data['female'] / school_data['total_tch']

# Create infrastructure score
infra_cols = ['electricity_availability', 'library_availability', 'internet', 
              'approachable_road', 'total_boys_func_toilet', 'total_girls_func_toilet']
school_data['infrastructure_score'] = school_data[infra_cols].fillna(0).sum(axis=1) / len(infra_cols)

In [30]:
school_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471891 entries, 0 to 1471890
Data columns (total 49 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   pseudocode                1471891 non-null  int64
 1   state                     1471891 non-null  object
 2   district                  1471891 non-null  object
 3   block                     1471891 non-null  object
 4   rural_urban               1471891 non-null  int64
 5   school_category           1471891 non-null  int64
 6   school_type               1471891 non-null  int64
 7   lowclass                  1471891 non-null  int64
 8   highclass                 1471891 non-null  int64
 9   managment                 1471891 non-null  int64
 10  special_school_for_cwsn   1471891 non-null  int64
 11  approachable_road         1471891 non-null  int64
 12  avg_instr_days            1471891 non-null  int64
 13  total_tch                 1471891 non-null  int64
 14  male                      1471891 non-null  int64
 15  female                    1471891 non-null  int64
 16  transgender               1471891 non-null  int64
 17  gen_tch                   1471891 non-null  int64
 18  sc_tch                    1471891 non-null  int64
 19  st_tch                    1471891 non-null  int64
 20  obc_tch                   1471891 non-null  int64
 21  regular                   1471891 non-null  int64
 22  total_class_rooms         1471891 non-null  int64
 23  total_boys_func_toilet    1471891 non-null  int64
 24  total_girls_func_toilet   1471891 non-null  int64
 25  electricity_availability  1471891 non-null  int64
 26  library_availability      1471891 non-null  int64
 27  internet                  1471891 non-null  int64
 28  medical_checkups          1471891 non-null  int64
 29  spl_educator_yn           1471891 non-null  int64
 30  total_boys                1458937 non-null  float64
 31  total_girls               1458937 non-null  float64
 32  total_enrollment          1458937 non-null  float64
 33  grade_1_total             1458937 non-null  float64
 34  grade_2_total             1458937 non-null  float64
 35  grade_3_total             1458937 non-null  float64
 36  grade_4_total             1458937 non-null  float64
 37  grade_5_total             1458937 non-null  float64
 38  grade_6_total             1458937 non-null  float64
 39  grade_7_total             1458937 non-null  float64
 40  grade_8_total             1458937 non-null  float64
 41  grade_9_total             1458937 non-null  float64
 42  grade_10_total            1458937 non-null  float64
 43  grade_11_total            1458937 non-null  float64
 44  grade_12_total            1458937 non-null  float64
 45  student_teacher_ratio     1458937 non-null  float64
 46  girl_ratio                1458937 non-null  float64
 47  female_teacher_ratio      1458290 non-null  float64
 48  infrastructure_score      1471891 non-null  float64
dtypes: float64(19), int64(27), object(3)
memory usage: 550.3+ MB

In [31]:
school_data['infrastructure_score'][:20]

0     1.333333
1     1.333333
2     1.166667
3     1.000000
4     1.333333
5     1.333333
6     1.000000
7     1.333333
8     1.000000
9     1.333333
10    1.166667
11    1.333333
12    1.166667
13    1.333333
14    1.000000
15    1.333333
16    1.166667
17    1.666667
18    1.000000
19    1.000000
Name: infrastructure_score, dtype: float64

In [33]:
# Save school-level data
school_data.to_csv('/Users/macbookpro/Desktop/POC1/data/processed/comprehensive_school_data.csv', index=False)

In [34]:

# Load school-level dataset (adjust path as needed)
school_data = pd.read_csv('/Users/macbookpro/Desktop/POC1/data/processed/comprehensive_school_data.csv')

# Define mappings (adjust based on actual dataset coding)
rural_urban_map = {1: 'Urban', 2: 'Rural'}  # 1=Urban, 2=Rural
management_map = {1: 'Government', 2: 'Private'}  # 1=Government, others=Private

# Feature generation functions
def generate_age(grade):
    """Generate student age based on grade."""
    return int(np.round(np.random.normal(6 + (grade - 1), 0.5)))

def generate_gender(girl_ratio):
    """Generate gender based on school's girl ratio."""
    return 'Female' if np.random.rand() < girl_ratio else 'Male'

def generate_caste():
    """Generate caste category based on UDISE national proportions."""
    return np.random.choice(['General', 'SC', 'ST', 'OBC'], p=[0.269, 0.18, 0.099, 0.452])

def generate_attendance():
    """Generate attendance rate (percentage)."""
    return np.clip(np.random.normal(85, 10), 0, 100)

def generate_performance():
    """Generate grade performance (marks out of 100)."""
    return np.clip(np.random.normal(60, 15), 0, 100)

def generate_father_education():
    """Generate father's education level (assumed distribution)."""
    return np.random.choice(['None', 'Primary', 'Secondary', 'Graduate'], p=[0.25, 0.25, 0.25, 0.25])

def generate_midday_meal(management):
    """Generate mid-day meal access; Yes for government schools."""
    return 1 if management == 1 else 0

def generate_internet(rural_urban):
    """Generate internet access based on urban/rural status."""
    prob = 0.7 if rural_urban == 1 else 0.3
    return 1 if np.random.rand() < prob else 0

def generate_distance(rural_urban):
    """Generate distance to school (km) based on urban/rural status."""
    if rural_urban == 1:  # Urban
        return np.clip(np.random.normal(2, 1), 0, None)
    else:  # Rural
        return np.clip(np.random.normal(5, 2), 0, None)

def generate_dropout(grade, attendance, performance):
    """Generate dropout status with dependencies on attendance and performance."""
    if grade <= 5:
        base_prob = 0.02  # Primary
    elif grade <= 8:
        base_prob = 0.05  # Upper Primary
    elif grade <= 10:
        base_prob = 0.1   # Secondary
    else:
        base_prob = 0.15  # Higher Secondary
    if attendance < 60 or performance < 40:
        prob = min(1.0, base_prob * 2)  # Double probability if poor attendance/performance
    else:
        prob = base_prob
    return 1 if np.random.rand() < prob else 0

# List to store student records
students = []

# Generate student-level data
for index, school in school_data.iterrows():
    if pd.isna(school['total_enrollment']):
        continue  # Skip schools with missing enrollment
    pseudocode = school['pseudocode']
    state = school['state']
    district = school['district']
    rural_urban = school['rural_urban']
    management = school['managment']  # Note: typo in column name
    girl_ratio = school['girl_ratio']
    
    for grade in range(1, 13):
        grade_col = f'grade_{grade}_total'
        if grade_col in school and not pd.isna(school[grade_col]):
            num_students = int(school[grade_col])
            for _ in range(num_students):
                age = generate_age(grade)
                gender = generate_gender(girl_ratio)
                caste = generate_caste()
                attendance = generate_attendance()
                performance = generate_performance()
                father_edu = generate_father_education()
                midday_meal = generate_midday_meal(management)
                internet = generate_internet(rural_urban)
                distance = generate_distance(rural_urban)
                dropout = generate_dropout(grade, attendance, performance)
                students.append({
                    'school_pseudocode': pseudocode,
                    'state': state,
                    'district': district,
                    'grade': grade,
                    'age': age,
                    'gender': gender,
                    'caste': caste,
                    'attendance_rate': attendance,
                    'grade_performance': performance,
                    'father_education': father_edu,
                    'midday_meal_access': midday_meal,
                    'internet_access': internet,
                    'distance_to_school': distance,
                    'dropout': dropout
                })

# Create DataFrame and save to CSV
student_df = pd.DataFrame(students)
student_df.to_csv('/Users/macbookpro/Desktop/POC1/data/processed/synthetic_student_data.csv', index=False)
print("Synthetic student-level dataset generated and saved as 'synthetic_student_data.csv'.")

KeyboardInterrupt: